<%- include('layout/head') %>
        <div class="col-md-12 content-page">

                <% articles.forEach((article)=>{ %>

            <div class="col-md-12 ">
                <div class="post-title">
                    <a href="/article/<%= article.slug %>">
                        <h2><%= article.title %> kkk</h2>
                    </a>
                </div>
<!--                <div class="post-info">-->
<!--                    <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>-->
<!--                </div>-->

                <p class="post-description"><%- article.description??null %></p>
                <a href="/article/<%= article.slug %>"
                   class="button button-style button-anim fa fa-long-arrow-right"><span>Ler Matéria</span></a>
            </div>
            <!-- Blog Post End -->

            <%})%>

                    <%- include('layout/pagination') %>
        </div>

<%- include('layout/footer') %>


